

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,700,400);

html {
    height: 100%; 
    margin: 0px; 
    padding: 0px;
}
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #111;
    -webkit-appearance:none;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-weight: 300;
}
.no-link a:link, .no-link a:visited, .no-link a:hover, .no-link a:active {
    text-decoration: none;
}


.streamel-site-container {
    position: relative;
    bottom 0px;
    background-color: #DDD;
}

/* Header */
.streamel-header {
    position: relative;
    background-color: #111;
    height: 70px;
    z-index: 100;
	display: flex;
    justify-content: space-between;
}
.streamel-header-item {
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.streamel-header .o-circle-button {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -15px;
}
.streamel-header h1 {
    margin-top: 12px;
    color: #EEE;
}

/* Content */
.streamel-content {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

/* Footer */
.streamel-footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -100px;
    height: 100px;
    background-color: #111;
    box-sizing: border-box;
    padding: 30px;
    color: #EEE;
    z-index: 100;
}

/* Search Bar */
.streamel-search-bar {
    width: 500px !important;
    margin-top: 12px !important;
}



/* Home */
.streamel-home-content {
    position: relative;
    min-height: 700px;
}
.streamel-home-banner {
    background-color:  #222;
    height: 300px;

}

/* Search */
.streamel-search-content {
    position: relative;
    min-height: 700px;
    padding: 20px;
}

.streamel-search-item {
    background-color: #FFF;
    position: relative;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 1200px;
    padding: 20px;
    height: 250px;
    padding-right: 125px;
    padding-left: 125px;
    border-radius: 125px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    transition: all 0.1s ease-in;
    transition-property: color, background-color;
    background-size: contain;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s;
}
.streamel-search-item:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.streamel-search-item-thumbnail {
    position: absolute;
    height: 250px;
    width: 445px;
    right: 0px;
    top: 0px;
    background-size: cover;
}
.streamel-search-item-thumbnail-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.streamel-search-item-poster {
    position: absolute;
    height: 210px;
    width: 142px;
    left: 125px;
    top: 20px;
    border-radius: 5px;
    background-size: cover;
}
.streamel-search-item-title {
    position: absolute;
    left: 297px;
    top: 20px;
    right: 400px;
    text-overflow: ellipsis;
}
.streamel-search-item-title h1 {
    margin-top: 0px;

}
.streamel-search-item-description {
    position: absolute;
    left: 297px;
    right: 400px;
    bottom: 20px;
    top: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    /* Header */
    .streamel-header-item-searchbar {
        position: absolute;
        right: 0px;
        left: 0px;
        bottom: 0px;
        height: 45px;
        padding: 0px;
    }
    .streamel-search-bar {
        border-radius: 0px !important;
        margin: 0px !important;
        width: 100% !important;
    }
    .streamel-header {
        height: 115px;
    }

    /* SRP */
    .streamel-search-content {
        padding-right: 0px;
        padding-left: 0px;
    }
    .streamel-search-item {
        border-radius: 0px;
    }

}

/* Video */
@media screen and (min-aspect-ratio: 5/4) {
    .video-container {
        width: 100%;
    }
    .video-player {
        height: 70vh;
        background-color: #333;
        width: 100%;
        margin: auto;
    }
}
@media screen and (max-aspect-ratio: 5/4) {
    .video-player {
        width: 100%;
        background-color: #333;
    }
}
