

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,700,400);

html {
    height: 100%; 
    margin: 0px; 
    padding: 0px;
}
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #111;
    -webkit-appearance:none;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-weight: 300;
}
.no-link a:link, .no-link a:visited, .no-link a:hover, .no-link a:active {
    text-decoration: none;
}


.streamel-site-container {
    position: relative;
    bottom 0px;
    background-color: #DDD;
}

/* Header */
.streamel-header {
    position: relative;
    background-color: #111;
    height: 70px;
    z-index: 100;
	display: flex;
    justify-content: space-between;
}
.streamel-header-item {
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.streamel-header .o-circle-button {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -15px;
}
.streamel-header h1 {
    margin-top: 12px;
    color: #EEE;
}

/* Content */
.streamel-content {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

/* Footer */
.streamel-footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -100px;
    height: 100px;
    background-color: #111;
    box-sizing: border-box;
    padding: 30px;
    color: #EEE;
    z-index: 100;
}

/* Search Bar */
.streamel-search-bar {
    width: 500px !important;
    margin-top: 12px !important;
}



/* Home */
.streamel-home-content {
    position: relative;
    min-height: 700px;
    padding: 20px;
    background-image: url('/public/images/StarBurst.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.streamel-home-text {
    text-align: center;
}
.streamel-home-text h1 {
    font-size: 60px;
}

/* Search */
.streamel-search-content {
    position: relative;
    min-height: 700px;
    padding: 20px;
}

.streamel-search-item {
    background-color: #EEE;
    position: relative;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 1200px;
    padding: 20px;
    height: 200px;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 100px;
    box-sizing: border-box;
}




@media screen and (max-width: 800px) {
    /* Header */
    .streamel-header-item-searchbar {
        position: absolute;
        right: 0px;
        left: 0px;
        bottom: 0px;
        height: 45px;
        padding: 0px;
    }
    .streamel-search-bar {
        border-radius: 0px !important;
        margin: 0px !important;
        width: 100% !important;
    }
    .streamel-header {
        height: 115px;
    }

    /* SRP */
    .streamel-search-content {
        padding-right: 0px;
        padding-left: 0px;
    }
    .streamel-search-item {
        border-radius: 0px;
    }


}